<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta charset="UTF-8">

<title>{{ title }}</title>

{% if keywords %}
	<meta name="keywords" content="{{keywords}}"/>
{% endif %}
{% if description %}
	<meta name="description" content="{{description}}"/>
{% endif %}

<!-- Favicon  -->
<link rel="icon" type="image/png" href="{{template_root}}img/favicons/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="{{template_root}}img/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="{{template_root}}img/favicons/favicon-96x96.png" sizes="96x96">
<link rel="apple-touch-icon" sizes="57x57" href="{{template_root}}img/favicons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{template_root}}img/favicons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{template_root}}img/favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{template_root}}img/favicons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{template_root}}img/favicons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{template_root}}img/favicons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{template_root}}img/favicons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{template_root}}img/favicons/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{template_root}}img/favicons/apple-touch-icon-180x180.png">

<!-- StyleSheets -->
<link href="{{template_root}}css/default.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{{template_root}}css/style.min.css">

<!-- Javascripts -->
<script src="{{template_root}}js/modernizr.js"></script>

{% if analytics %}
	{{analytics | raw}}
{% endif %}
