<!-- Footer -->
<footer class="js-footer-is-fixed">
	<!-- Footer Extended -->
	<div class="footer-extended">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="footer-extended-container">
						<div class="row">
							<div class="col-md-2 col-sm-2 col-xs-4">
								<div class="footer-extended-menu">
									<h5 class="footer-extended-menu-title">About</h5>
									<ul class="footer-extended-menu-list">
										<li>
											<a href="#">Our Vision</a>
										</li>
										<li>
											<a href="#">Technologies</a>
										</li>
										<li>
											<a href="#">Newsletter</a>
										</li>
										<li>
											<a href="/blog">Blog</a>
										</li>
										<li>
											<a href="#">Contact Us</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-4">
								<div class="footer-extended-menu">
									<h5 class="footer-extended-menu-title">Downloads</h5>
									<ul class="footer-extended-menu-list">
										<li>
											<a href="https://github.com/olegiv/Ocms/releases/latest" target="_blank">Source code</a>
										</li>
										<li>
											<a href="https://github.com/olegiv/Ocms/releases" target="_blank">Changelog</a>
										</li>
										<li>
											<a href="https://github.com/olegiv/Ocms/releases" target="_blank">Previous releases</a>
										</li>
										<li>
											<a href="https://github.com/olegiv/Ocms/blob/master/LICENSE.txt" target="_blank">License</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-4">
								<div class="footer-extended-menu">
									<h5 class="footer-extended-menu-title">Docs</h5>
									<ul class="footer-extended-menu-list">
										<li>
											<a href="#">Docs</a>
										</li>
										<li>
											<a href="#">Beginner's Guide</a>
										</li>
										<li>
											<a href="#">FAQ</a>
										</li>
										<li>
											<a href="#">Non-English Docs</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="clearfix visible-xs-block"></div>
							<div class="col-md-2 col-sm-2 col-xs-4">
								<div class="footer-extended-menu">
									<h5 class="footer-extended-menu-title">Community</h5>
									<ul class="footer-extended-menu-list">
										<li>
											<a href="#">Diversity</a>
										</li>
										<li>
											<a href="#">Mailing Lists</a>
										</li>
										<li>
											<a href="#">Wiki</a>
										</li>
										<li>
											<a href="#">Merchandise</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-md-4 col-sm-4 col-xs-8">
								<div class="footer-extended-menu">
									<h5 class="footer-extended-menu-title">Subscribe</h5>
									<ul class="socials-footer">
										<li>
											<a href="https://www.facebook.com/it.digest.info" target="_blank" class="socials-footer-link">
												<i class="fa fa-facebook"></i>
											</a>
										</li>
										<li>
											<a href="https://twitter.com/ITDigestInfo" target="_blank" class="socials-footer-link">
												<i class="fa fa-twitter"></i>
											</a>
										</li>
										<li>
											<a href="https://www.youtube.com/channel/UCXqhGT6n3LpDXzbkWm7ltoQ" target="_blank" class="socials-footer-link">
												<i class="fa fa-youtube-play"></i>
											</a>
										</li>
										<li>
											<a href="#" class="socials-footer-link">
												<i class="fa fa-linkedin"></i>
											</a>
										</li>
										<li>
											<a href="https://github.com/olegiv/Ocms" target="_blank" class="socials-footer-link">
												<i class="fa fa-github-alt"></i>
											</a>
										</li>
									</ul>
									<div class="subscribe-form-block-footer">
										<form action="#">
											<input type="text" name="email" id="subscribe-email-footer" class="subscribe-input-footer" placeholder="Email address">
											<button class="subscribe-button-footer">
												<i class="fa fa-angle-right"></i>
											</button>
										</form>
									</div>
									<p class="text-footer">For any questions contact us at:
										<a href="mailto:webmaster@ocms.tech" target="_top">webmaster@ocms.tech</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End of Footer Extended -->
	<!-- Footer Default -->
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="footer-logo-wrapper">
						<!-- Logo Image -->
						<a href="/" class="logo-image" title="Homepage">
							<img src="{{ template_root }}img/logo/logo.svg" alt="OCMS logo">
						</a>
						<!-- End of Logo Image -->
						<!-- Slogan -->
						<p class="slogan">Minimum
							<br>Viable
							<br>Product</p>
						<!-- End of Slogan -->
					</div>
				</div>
				<div class="col-md-9 col-sm-9 col-xs-12">
					<div class="footer-wrapper">
						<!-- Scroll top -->
						<span class="scroll-top js-scroll-top">
									<i class="fa fa-angle-up"></i>
								</span>
						<!-- End of Scroll top -->
						<!-- Footer Menu -->
						<ul class="footer-menu helper right">
							<li>
								<a href="/about"> About us </a>
							</li>
							<li>
								<a href="#"> Privacy Policy </a>
							</li>
							<li>
								<a href="#"> Terms & Conditions </a>
							</li>
							<li>
								<a href="#"> My account </a>
							</li>
							<li>
								<a href="#"> Support service </a>
							</li>
						</ul>
						<!-- End of Footer Menu -->
						<!-- Copyright -->
						<p class="copyright helper right">
							&copy; Copyright {{ "now"|date("Y") }} by <a href="{{site.copyright.url}}" target="_blank">{{site.copyright.label}}</a>
						</p>
						<!-- End of Copyright -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End of Footer Default -->
</footer>
<!-- End of Footer -->

{% if footerHtml -%}
	{{ footerHtml | raw }}
{%- endif %}
