<!DOCTYPE html>
<html lang="en">

<head>
	{% block head %}
		{{ include ('include/head.html.twig') }}
	{% endblock %}
</head>

<body class="">
	
	<!--[if lt IE 8]>
	    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<!-- Preloader: uncomment this if you want to show a smooth preloader while the page is loading. Don't forget to add the 'js-preload-me' class on the <body> tag. -->
	<!-- <div class="preloader js-preloader"><div class="preloader-animation"></div></div>
 -->
	<!-- End of Preloader -->
	
	<div class="page js-page ">
	
	{% block body %}
		<div id="content">
			{% block content %}
				<h1 class="node-title">{{ title }}</h1>
				{{ body | raw }}
			{% endblock %}
		</div>
	{% endblock %}
	
	</div>
	
	<script src="{{template_root}}js/all.js"></script>
	<script src="{{template_root}}js/custom.js"></script>
</body>

</html>
