<!DOCTYPE html>
<html>
	<head>
		{% block head %}
			{{- include ('include/head.html.twig') }}
		{% endblock %}
	</head>
	<body>
		{% block body %}
			<div id="content">
				{% block content %}
					<h1 class="node-title">{{ title }}</h1>
					{{ body | raw }}
				{% endblock %}
			</div>
		{% endblock %}
		<div id="footer">
			{% block footer %}
				{{- include ('include/footer/footer.html.twig') }}
			{% endblock %}
		</div>
		{{ renderController('\\Ocms\\app\\example\\controller\\ExampleController::view', '<pre>ExampleController::view</pre>') }}
	</body>
</html>
