<div class="blog-grid">
	<div class="row">
		<div class="col-md-4 col-sm-5">
			<div class="blog-grid-image">
				<a href="/blog/view/{{ blog.id }}">
					<span class="blog-grid-image-over"></span>
					<img src="{{ blog.thumbnail }}" alt="Article thumbnail">
				</a>
			</div>
		</div>
		<div class="col-md-8 col-sm-7">
			<h3 class="blog-grid-title">
				<a href="/blog/view/{{ blog.id }}">{{ blog.title }}</a>
			</h3>
			<p class="blog-grid-excerpt">{{ blog.abstract }}</p>
			<div class="blog-grid-meta">
				<span class="blog-grid-date">{{ blog.content_date }}</span>
				<span class="blog-grid-author">by <a href="#">{{ blog.author }}</a></span>
			</div>
		</div>
	</div>
</div>
